<a href="https://colab.research.google.com/github/Brainstreet-Group-1B/Indigenous-Language-Translator/blob/main/Luganda_tokenize.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Access Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import tensorflow.keras as keras

import nltk
# Download the 'wordnet' dataset
nltk.download('wordnet')  # This line downloads the necessary data
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:


# Filename for data set
# luganda_corpus_file = os.path.join(os.getcwd(), "English_Luganda_Corpus.csv")
path = "/content/drive/MyDrive/Collaborations/English_Luganda_Corpus.csv"
# build dataframe
df = pd.read_csv(path)

df.head()

,Lemmatized US English,US English,Luganda,Unnamed: 3,Unnamed: 4
0,All refugees were requested to register with t...,All refugees were requested to register with t...,Abanoonyiboobubudamu bonna baasabiddwa beewand...,NaN,NaN
1,They called for a refugees' meeting yesterday.,They called for a refugees' meeting yesterday.,Baayise olukungaana lw'abanoonyiboobubudamu eg...,NaN,NaN
2,Refugees had misunderstandings between thems...,Refugees had misunderstandings between thems...,Abanoonyiboobubudamu b'abadde n'obutakkaanya w...,NaN,NaN
3,We were urged to welcome refugees into our com...,We were urged to welcome refugees into our com...,Twakubirizibwa okwaniriza abanoonyiboobubudamu...,NaN,NaN
4,More development is achieved when we work toge...,More development is achieved when we work toge...,Bwe tukolera awamu enkulaakulana enyingi efuni...,NaN,NaN

In [ ]:
my_frame = df['Lemmatized US English']
my_frame.head()

0    All refugees were requested to register with t...
1       They called for a refugees' meeting yesterday.
2    Refugees had misunderstandings between   thems...
3    We were urged to welcome refugees into our com...
4    More development is achieved when we work toge...
Name: Lemmatized US English, dtype: object

In [ ]:
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text):
  return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]

my_frame = my_frame.apply(lemmatize_text)
my_frame.head()

0    [All, refugee, were, requested, to, register, ...
1    [They, called, for, a, refugees', meeting, yes...
2    [Refugees, had, misunderstanding, between, the...
3    [We, were, urged, to, welcome, refugee, into, ...
4    [More, development, is, achieved, when, we, wo...
Name: Lemmatized US English, dtype: object

In [ ]:
def remove_stopwords(text):
  stopwords = nltk.corpus.stopwords.words('english')
  return [word for word in text if word not in stopwords]

my_frame = my_frame.apply(remove_stopwords)
my_frame.head()

0    [All, refugee, requested, register, chairman.]
1    [They, called, refugees', meeting, yesterday.]
2         [Refugees, misunderstanding, themselves.]
3       [We, urged, welcome, refugee, communities.]
4    [More, development, achieved, work, together.]
Name: Lemmatized US English, dtype: object

In [ ]:
# replace commas from tokenization
my_frame = my_frame.apply(lambda x: ' '.join(x))

# remove periods from dataframe


# remove commas from dataframe

my_frame.head()

0    All refugee requested register chairman.
1    They called refugees' meeting yesterday.
2       Refugees misunderstanding themselves.
3       We urged welcome refugee communities.
4    More development achieved work together.
Name: Lemmatized US English, dtype: object

In [ ]:
# convert dataframe to lowercase
my_frame = my_frame.str.lower()
my_frame.head()

0    all refugee requested register chairman.
1    they called refugees' meeting yesterday.
2       refugees misunderstanding themselves.
3       we urged welcome refugee communities.
4    more development achieved work together.
Name: Lemmatized US English, dtype: object

In [ ]:
import string
def remove_punctuation(text):
  return text.translate(str.maketrans('', '', string.punctuation))

my_frame = my_frame.apply(remove_punctuation)
my_frame.head()

0    all refugee requested register chairman
1     they called refugees meeting yesterday
2       refugees misunderstanding themselves
3       we urged welcome refugee communities
4    more development achieved work together
Name: Lemmatized US English, dtype: object

In [ ]:
# Save the DataFrame to a CSV file
my_frame.to_csv('/content/drive/My Drive/Collaborations/my_new_dataframe.csv', index=False)

In [ ]:
df_verify = pd.read_csv('/content/drive/My Drive/Collaborations/my_new_dataframe.csv')
print(df_verify)

                                   Lemmatized US English
0                all refugee requested register chairman
1                 they called refugees meeting yesterday
2                   refugees misunderstanding themselves
3                   we urged welcome refugee communities
4                more development achieved work together
...                                                  ...
15017  senior official exaggerated number mismanage f...
15018               there high risk spread disease camps
15019             they relocated another settlement camp
15020  some people flee south sudan already relative ...
15021  the district officer ha advised people avoid t...

[15022 rows x 1 columns]